/* Large desktops and laptops */
@media (min-width: 1200px) {
    body{
        border:red dashed 5px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body{
        border:orange dashed 5px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    body{
        border:green dashed 5px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body{
        border:purple dashed 5px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    body{
        border:lightblue dashed 5px;
    }
}