@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background: #e53935;
  font-family: 'Lato', sans-serif;
}

body.private{
  padding:0;
  background: #efefef;
  color:#333;
  margin-top: 55px;
}

body.private.landing{
  background: #e53935;
}

.container{
  max-width: 767px;
}

.clear{
  clear: both;
}

/* Custom page header */
.navbar{
  background: none;
  border:0;
  border-bottom: 1px solid #FFF;
  text-align: center;
  color:#FFF;
}

.navbar .navbar-brand{
  margin:0 0 0 60px;
  float: none;
  display: inline-block;
  width: auto;
}

.private .navbar .navbar-brand{
  margin-left:5px;
}

.private.landing .navbar .navbar-brand{
  margin-left:52px;
}

.navbar p{
  margin:15px 0 0 60px;
  float: none;
  display: inline-block;
  width: auto;
}

.navbar a{
  color:#FFF;
  font-weight: 700;
}

.private .navbar.interno{
  border-width: 0 0 1px;
  background: #e53935;
}

.navbar .btn{
  padding: 15px;
  background: none;
  color:#FFF;
}

.navbar.interno .navbar-toggle{
  border: 0;
  color: #FFF;
  margin: 0;
  padding: 16px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover,
.navbar.interno .navbar-toggle:focus,
.navbar.interno .navbar-toggle:hover{
  background: none;
}

.navbar.interno .navbar-collapse ul li a{
  color:#FFF;
  text-align: left;
}

.header {
  margin:20px 0 40px;
  text-align: center;
}

.boxButtons{
  text-align: center;
  margin:0 0 25px;
  float: left;
  width:100%;
}

.boxButtons [class*="col-xs"]{
  padding:0;
}

.boxButtons .btn{
  width:100%;
}

.boxSocial{
  float:left;
  width:100%;
}

.boxSocial [class*="col-xs"]{
  padding:0;
}

.boxSocial .btn{
  color:#FFF;
}

.boxSocial .btn:hover{
  color:#FFF;
}

.boxSocial .btn span{
  display: inline-block;
  padding:18px;
  float: left;
  width:50px;
  height:50px;
  margin:-15px 0 0;
}

.boxSocial .btn-facebook{
  background: #3c5b9b;
}

.boxSocial .btn-facebook .fa{
  background: #4569b4;
}

.boxSocial .btn-google{
  background: #dd4b39;
}

.boxSocial .btn-google .fa{
  background: #ee6251;
}

.ingreso .boxSocial .btn{
  padding:0 15px;
  background: none;
  height:auto;
}

.ingreso .boxSocial{
  margin:25px 0;
}

.ingreso .boxSocial .btn{
  display: inline-block;
}

.ingreso .boxSocial .btn span{
  margin-top: 0;
}

/********************************************************/
.landing .navbar .alertBell{
  background: none;
  color:#FFF;
}

/********************************************************/

.form-signin .input{
  height:auto;
  padding:10px 0;
  background: #ea615d;
  margin:0 0 15px;
  color:#FFF;
}

.form-signin .fa{
  color: #FFF;
  display: inline-block;
  width: 25%;
  text-align: right;

}

.form-signin .form-control{
  width: 55%;
  display: inline-block;
  background: none;
  border:0;
  color:#FFF!important;
  box-shadow: none;
  text-transform: uppercase;
}

.form-signin .form-control::-webkit-input-placeholder, 
.form-signin .form-control::-moz-placeholder,
.form-signin .form-control:-ms-input-placeholder,
.form-signin .form-control:-moz-placeholder {
  color:#FFF!important;
}

.contentTipo{
  margin:0 0 15px;
}
.contentTipo .slide-button{
  margin:0 auto;
}

.contentTipo div[class*="col-xs"]{
  padding:0;
}

.contentTipo .btn{
  height:40px;
  padding:5px 15px;
}

.slide-button {
  background-color: #464646;
  width: 168px;  /* TODO Me Change! */
  margin: 6px 0px 16px;
  border-radius: 4px;
  height: 40px;
  box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.3);
}
.slide-button .btn {
  margin: 0px;
  float: none;
  transition-duration: 0.35s;
  border-radius: 3px 0 0 3px;
  line-height: 170%;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.245);
}

.slide-button .btn:hover{
  background: #ffdad9;
}

.slide-button .btn:after {
  float: left;
  content: "Lite";
}

.slide-button .active:after{
  display: none;
}

.slide-button .active:before {
  float: left;
  content: "Premium";
}

.slide-button .btn.active {
  margin-left: 62px;  /* TODO Me Change! */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.245);
  border-radius: 0 3px 3px 0;
  background: #ffdad9;
  color:#666;
}


/* Custom page footer */
.footer {
  padding:10px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  text-align: center;
  color:#FFF;
}

.footer p{
  margin:0;
}

.footer a{
  color:#FFF;
  font-weight: 700;
}

/**********************************************************************************
.menu landing ====================================================================*/
.menu{
  margin-top:25px;
}

.menu [class*="col-xs"]{
  padding:0;
}

.menu .btn{
  width:100%;
}

.btn{
  background: #ffdad9;
  border-radius: 0;
  text-transform: uppercase;
  color:#6e6e6e;
  padding:30px 15px;
  border:0;
  font-weight: 700;
  font-size: 16px;
}

.btn:hover{
  color:#6e6e6e;
}

.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary.focus:active, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #ffdad9;
  border-color: #ffdad9;
  color:#6e6e6e;
}

.btn-success{
  background: #FFF;
  color:#e53935;
}

.btn-success.focus, 
.btn-success:focus,
.btn-success:hover{
  background-color: #FFF;
  border-color: #ffdad9;
  color:#e53935;
}

.btn-primary.red{
  background: #e51835;
  color:#efefef;
}


/****************************************/
.contentClase h1{
  color:#e53935;
}
.contentClase iframe{
  width:100%;
}

.contentscroll{
  overflow: auto;
  height:400px;
}

.contentscroll img{
  height:100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


.sep {
    max-width: 80px;
    border: 2px solid #FFF;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
}


